/* CONSTANT STYLES */

* {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}

html, body, main {
    margin: 0;
    padding: 0;
    width: 100%;
}

:root {
    --dark: #4E3620;
    --medium: #897853;
    --light: #F8F4E1;
    --nearlywhite: #fefff9;
}



body {
    color: var(--dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
}

ol, ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

header p {
    text-transform: lowercase;
    font-variant: small-caps;
}

section {
    background-color: var(--nearlywhite);
    box-shadow: 0 7px 10px -4px black;
}

section:not(:last-child) {
    margin-bottom: 3em;
}

article {
    text-align: justify;
}


article:not(.project) {
    border-bottom: 1px dashed var(--medium);
}

h2 {
    line-height: .4em;
    height: .7em;
    font-weight: 500;
    font-size: 3.5rem;
    display: inline;
    text-transform: lowercase;
    font-variant: small-caps;
}

h3 {
    padding: 10px;
    margin: 1em 0;
    font-size: 1.7rem;
    font-style: italic;
    font-variant: small-caps;
}

.date {
    font-style: italic;
    font-size: 1.1em;
    float: right;
    margin: .2em;
}



.project {
    background-color: var(--light);
    padding-bottom: 1em;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0 black;
}

.project:not(:last-child) {
    margin-bottom: 3em;
}

.project span, .project summary {
    display: block;
    margin: 0 0 0 .5em;
}

.project img {
    object-fit: cover;
    width: 100%;
}

.project span {
    font-size: 1.9rem;
    font-style: italic;
    font-variant: small-caps;
    line-height: .9em;
    text-transform: lowercase;
    border-bottom: 1px solid #666;
}

.project summary {
    text-align: right;
    font-size: 1.1rem;
    padding-right: .5em;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    body {
        background-color: var(--medium);
    }
    #wrapper {
        margin: 0 .5em;
    }
    header {
        background-color: var(--nearlywhite);
        text-align: center;
        margin: 0 0 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header h1 {
        margin-top: 0;
        font-size: 3rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    header p {
        width: 90%;
        height: 1em;
        font-size: 1.4rem;
        vertical-align: middle;
        line-height: .8em;
        margin: 0;
        border: 1px solid var(--dark);
        border-width: 1px 0;
    }
    header li {
        display: inline;
        text-transform: lowercase;
    }
    header li:not(:first-child) {
        border-left: 1px solid var(--dark);
        padding-left: 5px;
    }
    section {
        padding: 30px 1.5em;
    }
    h2 {
        float: right;
        margin-bottom: .2em;
    }
    article {
        clear: both;
        margin-bottom: .4em;
    }
    h3 {
        border-top: 1px solid var(--dark);
        padding-top: 1em;
        padding-left: 0;
    }
    footer {
        color: var(--light);
        text-align: center;
    }
    footer ul li:not(:last-child) {
        border-bottom: 1px solid var(--light);
        line-height: 1.4em;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    body {
        background-color: var(--light);
    }
    header {
        height: 15em;
        position: relative;
        display: flex;
        justify-content: center;
    }
    header h1 {
        position: absolute;
        bottom: 0;
        margin-bottom: .2em;
        font-size: 5rem;
        font-weight: 600;
        width: 4.5em;
    }
    header p {
        position: absolute;
        bottom: 0;
        margin: 0 0 .9em 4.6em;
        width: 4em;
        height: 2em;
        line-height: .9em;
        font-size: 2.5rem;
        letter-spacing: 5px;
        font-weight: 500;
        text-align: center;
        border: 1px solid black;
        border-width: 1px 0;
    }
    header nav {
        position: absolute;
        top: 100%;
        right: -1px;
        text-align: center;
    }
    header nav li {
        box-sizing: border-box;
        background-color: var(--dark);
        color: var(--light);
        border: 1px solid var(--dark);
        margin: .5em 0;
        padding: 1px 0;
        width: 100px;
        box-shadow: inset -19px 0 10px -5px black;
        border-radius: 3px 0 0 3px;
    }
    @media (hover: hover) {
        header nav li:hover {
            background-color: var(--nearlywhite);
            color: var(--dark);
            transition: all .5s;
            box-shadow: inset -19px 0 10px -5px #666, -3px 0 5px 1px black;
        }
    }
    #content {
        background-color: var(--medium);
        margin: auto;
        box-shadow: inset 0 5px 7px 3px black;
    }
    main {
        width: 100%;
        border-radius: 5px;
    }
    section {
        margin-right: -7px;
        margin-left: -7px;
        padding: 30px 2em;
    }
    footer {
        color: var(--light);
        text-align: center;
    }
    footer ul li:not(:last-child) {
        border-bottom: 1px solid var(--light);
        line-height: 1.4em;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 710px) {
    #content {
        max-width: 710px;
    }
    header nav {
        right: unset;
        margin-left: 624px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    header nav {
        margin-left: 823px;
    }
    header nav li {
        box-shadow: inset 19px 0 10px -5px black;
        border-radius: 0 3px 3px 0;
    }
    footer {
        position: relative;
    }
    footer nav {
        position: absolute;
        width: 100%;
        bottom: 2em;
        left: -412px;
        z-index: 1;
    }
    footer nav li {
        box-sizing: border-box;
        background-color: var(--dark);
        color: var(--light);
        border: 1px solid var(--dark);
        margin: .5em 0;
        padding: 1px 0;
        width: 100px;
        box-shadow: inset -19px 0 10px -5px black;
        border-radius: 3px 0 0 3px;
    }
    @media (hover: hover) {
        header nav li:hover {
            background-color: var(--light);
            color: var(--dark);
            transition: all .5s;
            box-shadow: inset 19px 0 10px -5px #666, 3px 0 5px 1px black;
        }
        footer nav li:hover {
            background-color: var(--light);
            color: var(--dark);
            transition: all .5s;
            box-shadow: inset -19px 0 10px -5px #666, -3px 0 5px 1px black;
        }
    }
    /* rotate  section headers*/

    section {
        padding-left: 3em;
        padding-right: 3em;
    }

    #blog {
        position: relative;
    }
    #blog h2 {
        position: absolute;
        transform: rotate(90deg);
        top: 3.2em;
        right: -.65em;
    }
}